<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="UNCC Task Manager App">
        <title>UNCC Task Manager App</title>
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>
        {% if user %}
            <nav>
                <a href="{{ url_for('logout') }}">Logout</a>
            </nav>
        {% else %}
            <nav>
                <a href="{{ url_for('login') }}">Sign In</a> || 
                <a href="{{ url_for('register') }}">Register</a>
            </nav>
        {% endif %}

        <h1>Welcome {{user}} to the 49er Task Manager App!</h1>

        <h2>Use this site to maintain and organize your tasks.</h2>

        <h3>Tasks</h3>

        <nav> <a href="/tasks"> My tasks </a> </nav>

        <h3>To Do</h3>

        <h3>Work Tasks</h3>

    </body>
</html>