<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="UNCC Task Manager App">
        <title>TT - Home</title>
        <!-- styles -->
        {% if dark_mode %}
            <link rel="stylesheet" href="{{ url_for('static', filename='night.css') }}">
        {% else %}
            <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        {% endif %}
        <!-- <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}"> -->
    </head>
    <body>
        {% if user %}
            <nav>
                <a href="{{ url_for('index') }}"> Home</a> ||
                <a href="{{ url_for('get_tasks') }}"> My Tasks</a> ||
                <a href="{{ url_for('new_task') }}"> Add Task</a> || 
                <a href="{{ url_for('logout') }}"> ({{ user }}) Logout</a> 
            </nav>
        {% else %}
            <nav>
                <a href="{{ url_for('login') }}">Sign In</a> || 
                <a href="{{ url_for('register') }}">Register</a>
            </nav>
        {% endif %}

        <h1>Welcome {{user}} to the 49er "Task Tackler"!</h1>

        <h2>Use this site to maintain and organize your tasks.</h2>

        <table>
            <tr>
                <th>View Tasks    ㅤ</th>
                <th>Change Theme</th>
            </tr>
            <tr>
                <td>
                    <form action="{{ url_for('get_tasks') }}">
                        <input type="submit" value="My Tasks" class="big">
                    </form>
                </td>
                <td>
                    {% if dark_mode %}
                        <form action="{{ url_for('change_mode') }}">
                            <input type="submit" value="Light Mode" class="big">
                        </form>
                    {% else %}
                        <form action="{{ url_for('change_mode') }}">
                            <input type="submit" value="Dark Mode" class="big">
                        </form>
                    {% endif %}
                </td>
            </tr>
        </table>

        <!-- <h3>Change Theme</h3>

        {% if dark_mode %}
            <form action="{{ url_for('change_mode') }}">
                <input type="submit" value="Light Mode">
            </form>
        {% else %}
            <form action="{{ url_for('change_mode') }}">
                <input type="submit" value="Dark Mode">
            </form>
        {% endif %}
        

        <h3>Tasks</h3>

        <form action="{{ url_for('get_tasks') }}">
            <input type="submit" value="My Tasks">
        </form> -->

        <!-- <h3>To Do</h3>

        <h3>Work Tasks</h3> -->

    </body>
</html>