<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="UNCC Task Manager App">
        <title>UNCC Task Manager App - View your Tasks</title>
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    
    </head>
    <body>
        <nav>
            <a href="{{ url_for('index') }}"> Home</a> ||
            <a href="{{ url_for('get_tasks') }}"> My Tasks</a> ||
            <a href="{{ url_for('new_task') }}"> Add Task</a> || 
            <a href="{{ url_for('logout') }}"> Logout</a> || 

        </nav>

        <h1>Welcome {{user}} to the 49er Task Manager App!</h1>
        <h1>Listing tasks</h1>

        <table>
            <tr>
                <th>Likes</th>
                <th>Title</th>
                <th>Date</th>
            </tr>
            {% for task in tasks %}
            <tr>
                <td>
                        <form action="{{ url_for('like_task', task_id=task.id) }}">
                                <input type="submit" value="{{ task.likes }} Likes">
                        </form>
                    </td>
                <td><a href="{{ url_for('get_task', task_id=task.id) }}">{{ task.title }}</a></td>
                <td>{{ task.date }}</td>
                <!-- <td><a href="{{ url_for('update_task', task_id=task.id) }}">Edit</a></td> -->
                
                <td>
                    <form action="{{ url_for('update_task', task_id=task.id) }}">
                        <input type="submit" value="Edit">
                    </form>
                </td>
                <td>
                    <form action="{{ url_for('delete_task', task_id=task.id) }}" method="post">
                        <input type="submit" value="Delete">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>