<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="UNCC Task Manager App">
        <title>TT - My Tasks</title>
        <!-- styles -->
        {% if dark_mode %}
            <link rel="stylesheet" href="{{ url_for('static', filename='night.css') }}">
        {% else %}
            <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        {% endif %}

    </head>
    <body>
        <nav>
            <a href="{{ url_for('index') }}"> Home</a> ||
            <a href="{{ url_for('get_tasks') }}"> My Tasks</a> ||
            <a href="{{ url_for('new_task') }}"> Add Task</a> || 
            <a href="{{ url_for('logout') }}"> ({{ user }}) Logout</a> 

        </nav>

        <h1>Listing {{user}}'s tasks</h1>

        <table>
            <tr>
                <th>Likes</th>
                <th>Title</th>
                <th>Date</th>
            </tr>
            {% for task in tasks %}
                {% if task.pinned %}
            <tr>
                    
                <td>
                    <form action="{{ url_for('like_task', task_id=task.id) }}">
                            <input type="submit" value="{{ task.likes }} Likes">
                    </form> 
                </td>
                <td><a href="{{ url_for('get_task', task_id=task.id) }}">{{ task.title }}</a></td>
                <td>{{ task.date }}</td>
                <!-- <td><a href="{{ url_for('update_task', task_id=task.id) }}">Edit</a></td> -->
                
                <td>
                    <form action="{{ url_for('pin_task', task_id=task.id) }}">
                        <input type="submit" value="Unpin">
                    </form>
                </td>
                {% if task.user_id == user_id %}
                    <td>
                        <form action="{{ url_for('update_task', task_id=task.id) }}">
                            <input type="submit" value="Edit">
                        </form>
                    </td>
                    <td>
                        <form action="{{ url_for('delete_task', task_id=task.id) }}" method="post">
                            <input type="submit" value="Delete">
                        </form>
                    </td>
                {% endif %}
            </tr>
                {% endif %}        
            {% endfor %}

            {% for task in tasks %}
                {% if task.pinned == False %}
            <tr>
                <td>
                        <form action="{{ url_for('like_task', task_id=task.id) }}">
                                <input type="submit" value="{{ task.likes }} Likes">
                        </form>
                    </td>
                <td><a href="{{ url_for('get_task', task_id=task.id) }}">{{ task.title }}</a></td>
                <td>{{ task.date }}</td>
                <!-- <td><a href="{{ url_for('update_task', task_id=task.id) }}">Edit</a></td> -->
                
                <td>
                    <form action="{{ url_for('pin_task', task_id=task.id) }}">
                        <input type="submit" value="Pin">
                    </form>
                </td>
                {% if task.user_id == user_id %}
                    <td>
                        <form action="{{ url_for('update_task', task_id=task.id) }}">
                            <input type="submit" value="Edit">
                        </form>
                    </td>
                    <td>
                        <form action="{{ url_for('delete_task', task_id=task.id) }}" method="post">
                            <input type="submit" value="Delete">
                        </form>
                    </td>
                {% endif %}
            </tr>
                {% endif %}        
            {% endfor %}
        </table>
    </body>
</html>