<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="UNCC tasks App">
        <title>TT - {{ task.title }}</title>
        <!-- styles -->
        {% if dark_mode %}
            <link rel="stylesheet" href="{{ url_for('static', filename='night.css') }}">
        {% else %}
            <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        {% endif %}

    </head>
    <body>
        <nav>
            <a href="{{ url_for('index') }}"> Home</a> ||
            <a href="{{ url_for('get_tasks') }}"> My Tasks</a> ||
            <a href="{{ url_for('new_task') }}"> Add Task</a> || 
            <a href="{{ url_for('logout') }}"> ({{ user }}) Logout</a>

        </nav>
        
        <h1>Task details</h1>

        <table>
            <tr>
                <th>Title</th>
                <th>Text</th>
                <th>Date</th>
            </tr>
            <tr>
                <td>{{ task.title }}</td>
                <td>{{ task.text }}</td>
                <td>{{ task.date }}</td>
            </tr>
        </table>

        {% if task.comments %}
            {% if task.comments|length > 0 %}
                <h2 class="comment_title">Comments</h2>
                <ul>
                {% for comment in task.comments %}
                    <li>{{ comment.user_name }}: {{ comment.content }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endif %}
        <form action="{{ url_for('new_comment', task_id=task.id) }}" method="post">
            <div class="formwrapper">
                <h2 class="comment_title">Add a comment</h2>
                    <div class="form-field">
                        {{ form.comment.label }} <br/> {{ form.user_id }} {{ form.comment }}
                    </div>
                {{ form.submit }}
            </div>
        </form>
    </body>
</html>